header{
    background-color: #fff;
}

body{
    background-color: #fcbf00;
}
.firstPart{
    justify-content: center;
    padding: 5px;
}
.nosadérent{
    width: 350px;
}
.catégorie{
    margin-right: 20px;
}