<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Annuaire Terrasolis | Questionnaire Qui est-ce?</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    </head>
    <body>
        <div class="rounded">
            <p>Hello world!</p>
        </div>
    </body>
</html>