<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Annuaire Terrasolis | Questionnaire Qui est-ce?</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <main class="container">
            <h2 class="text-center">Qui voulez vous contacter?</h2>
            <section class="mx-auto rounded border border-warning">
                <h3 class="text-center">Est-ce que vous recherchez quelqu'un avec une barbe?</h3>
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" name="questionnaire" class="btn btn-secondary">Oui</button>
                        <button type="button" name="questionnaire" class="btn btn-secondary">Je ne sais pas</button>
                        <button type="button" name="questionnaire" class="btn btn-secondary">Non</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                <h3 class="text-center">Il vous reste X resultats.</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary">Voir les résultats</button>
                </div>
            </section>
        </main>
    </body>

</html>