<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bienvenue sur Kiesse</title>
    <link rel="stylesheet" href="style.css">
<style>

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: 180px 180px 180px 180px 180px;
  
  padding: 5px;
}
.grid-item {
  border: 2px solid rgba(250, 248, 248, 0.986);
  background-color: #3358ff;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
}
body{
    display: flex;
    justify-content: center;
}
.img{
    border-radius: 7px;
}
button :hover{
    transform: rotateY(180deg);    
}
.img :hover{
    color: black;
}

</style>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item"><button type="button" class="close" data-dismiss="modal">
            <img src="../static/images/API AGRO .jpg" class="img" alt="api agro" width="120px" height="120px">
            </button>
        </div>
        <div class="grid-item">
            <img src="../static/images/Artechdrone .jpg" class="img" alt="artechdrone" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/Arysta (France) .jpg" class="img" alt="arysta" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/CIVC .jpg" class="img" alt="civc" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/Crage .jpg" class="img" alt="crage" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/Crestic .jpg" class="img" alt="crestic" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/Cristal Union .jpg" class="img" alt="cristal" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/CA.jpeg" class="img" alt="credit" width="120px" height="120px">
        </div>
        <div class="grid-item">
            <img src="../static/images/Cérèsia .jpg" class="img" alt="ceresia" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/EMC2 .jpg" class="img" alt="emc2" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/Ensaia .jpg" class="img" alt="ensaia" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/FDSEA51 .jpg" class="img" alt="crage" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/GRDF .jpg" class="img" alt="grdf" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/IAR .jpg" class="img" alt="iar" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/InVivo .jpg" class="img" alt="invivo" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/Rittmo.jpg" class="img" alt="rittmo" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/Soufflet .jpg" class="img" alt="soufflet" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/Synergie Est .jpg" class="img" alt="synergie" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/Terrasolis .jpg" class="img" alt="terrasolis" width="120px" height="120px">
        </div>
        <div class="grid-item">
                <img src="../static/images/Vivescia .jpg" class="img" alt="vivescia" width="120px" height="120px">
        </div>
        

    <div class="container">
        <div class="row">
            <div class="col-lg-3" id="artechdrone">
                
                                    
            </div>
        </div>    
    </div>

</body>
</html>